<span class="grvnt-card">
    <div class="shit-header">
        <!-- <div class="shit-scroll">
            <ul aria-hidden="true">
                <li><em>you better pray for something good</em></li>
                <li><em>this is what they'll take from you when you're cold</em></li>
                <li><em>you better pray for something good</em></li>
                <li><em>this is what they'll take from you when you're cold</em></li>
            </ul>
            <ul aria-hidden="true">
                <li><em>you better pray for something good</em></li>
                <li><em>this is what they'll take from you when you're cold</em></li>
                <li><em>you better pray for something good</em></li>
                <li><em>this is what they'll take from you when you're cold</em></li>
            </ul>
        </div> -->
        <div (click)="rerollAll()" class="grvnt-header clickable">SHIT</div>
    </div>
    <div class="grvnt-body">
        <div>
            You can carry 2 normal-sized items, plus
            <span (click)="rerollCarry(true)" [innerHTML]="carryObj.descrip"></span>
        </div>
        <ul class="shit-list">
            @if (firearmsObj.descrip) {
                <div class="extra-shit-info">
                    <div>
                        <em class="underline">Firearm</em>
                    </div>
                    @if (firearmsObj.currIndex === -1) {
                        <span [innerHTML]="firearmsObj.descrip"></span>
                    } @else {
                        <span (click)="rerollFirearms(firearmsObj.limitNum)" [innerHTML]="firearmsObj.descrip"></span>
                    }
                </div>
            }
            @if (ammoObj.descrip) {
                <div>
                    <strong (click)="rerollAmmo()" class="clickable">Ammo.</strong>
                    <span> {{ammoObj.descrip}} ({{ammoObj.die}})</span>
                </div>
            }
            @if (sidearmsObj.descrip) {
                <span class="extra-shit-info">
                    <div><em class="underline">Sidearm</em></div>
                    @if (sidearmsObj.currIndex === -1) {
                        <span [innerHTML]="sidearmsObj.descrip"></span>
                    } @else {
                        <span (click)="rerollSidearm(sidearmsObj.limitNum)" [innerHTML]="sidearmsObj.descrip"></span>
                    }
                </span>
            }
            @if (armorObj.descrip) {
                <div class="extra-shit-info">
                    <div><em class="underline">Armor</em></div>
                    <span (click)="rerollArmor(armorObj.limitNum)" [innerHTML]="armorObj.descrip"></span>
                </div>
                @if (armorWithHelmet) {
                    <div>
                        <strong class="underline">Helmet.</strong> break to prevent all damage from a <strong>single attack</strong>
                    </div>
                }
            }
            @if (extrasArray.length > 0) {
                @for (extra of extrasArray; track $index) {
                    <li><span [innerHTML]="extra.descrip"></span></li>
                }
            }
            @if (!hasNothing || hasNothing && nothingValue >= 5) {
                <em class="small-font underline">Shit</em>
            }
            @if (!hasNothing) {
                @if (readyObj.descrip !== 'War Scroll') {
                    <li>
                        <span (click)="rerollReady()" [innerHTML]="readyObj.descrip"></span>
                    </li>
                }

                <li>
                    <span (click)="rerollPersonal()" [innerHTML]="personalObj.descrip"></span>
                </li>
            } @else if (nothingValue >= 5) {
                <!-- hasNothing -->
                <li><strong class="underline">Lobster Armor</strong> (-d8 damage) <em>a misnomer, any deep water is deadly - <strong>kiss the world goodbye...</strong></em></li>
            }
        </ul>
        @if (warScrolls.length > 0) {
            <div class="warscroll-section">
                <div class="warscroll-header">
                    <span class="warscroll-label">
                        <strong>WARSCROLLS</strong>.
                    </span>
                    <em>
                        When reading a scroll, test <strong>Presence DR12</strong> to successfully wield it; else, the scroll fails, you lose <strong>d2 HP</strong>, and suffer <strong>d2 SHOCK</strong>. A <strong>Fumble</strong> when reading a War Scroll results in an <strong>Occultic Accident</strong>, <span class="underline">destroying the scroll forever</span>.
                    </em>
                </div>
                <ul>
                    @for (scroll of warScrolls; track $index) {
                        <li>
                            <span class="extra-shit-info">
                                <div>
                                    <em>
                                        @if (scroll.isFromReadiness || scroll.isFromNothing) {
                                            Part of starting pack
                                        } @else if (job.name === 'arcane medic') {
                                            Part of the Arcane Medic kit
                                        } @else if (job.name === 'despondent interpreter') {
                                            Part of Despondent Interpreter kit
                                        } @else {
                                            Part of Cynically Cursed Chaplain kit
                                        }
                                    </em>
                                </div>
                                @if (scroll.isFromReadiness) {
                                    <span (click)="rerollReady()" [innerHTML]="scroll.descrip"></span>
                                } @else if (scroll.isFromNothing) {
                                    <span (click)="rerollWarScroll(false, true, $index)" [innerHTML]="scroll.descrip"></span>
                                } @else {
                                    <span (click)="rerollWarScroll(false, false, $index)" [innerHTML]="scroll.descrip"></span>
                                }
                            </span>
                        </li>
                    }   
                </ul>
            </div>
        } 
        @if (hasShock) {
            <em>
                You must have seen some shit to get that much <strong>SHIT!</strong>
                Most of this belonged to some other sucker until you <strong>pried it off their corpse.</strong>
                Permenant <strong>+1</strong> roll on SHOCK table
            </em>
        }
    </div>
</span>
