.shit-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "header";
    
    .shit-scroll {
        grid-area: header;
        display: flex;
        overflow: hidden;
        user-select: none;
        ul {
            padding: 0;
            font-size: var(--scroll-font-size);
            color: var(--scroll-font-color);
            list-style: none;
            display: flex;
            gap: 8px;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: center;
            min-width: 100%;
    
            animation: scrolling-text 60s linear infinite;
        }
    }
    .grvnt-header {
        grid-area: header;
        z-index: 2;
    }
}

.grvnt-body {
    ul {
        list-style: square;
        li {
            padding-bottom: 0.3rem;
        }
    }
}

.warscroll-section {
    border: 1px solid var(--border-color);
    .warscroll-header {
        margin-bottom: 0.5rem;
        .warscroll-label {
            background-color: var(--border-color);
            color: var(--background-color);
        }
    }
    .warscroll-display {
        vertical-align: middle;
        display: inline-flex;
        flex-direction: column;
    }
    em {
        font-size: 0.8rem;
    }
}

@keyframes scrolling-text {
    to {
        transform: translateX(calc(-100% - 8px));
    }
}