<div class="mission-card">
    <h2 class="mission-clickable" (click)="rerollAll()">MISSION BRIEFING</h2>
    <div class="brief-summary">
        <span class="mission-clickable underline" (click)="rerollIndividualBrief('intro')">{{briefObj.intro}}</span> as you <span class="mission-clickable underline" (click)="rerollIndividualBrief('location')">{{briefObj.location}}</span>. You have your orders
        @if (this.briefObj.time.trim() !== 'NOW!') {
            and you have <span class="mission-clickable underline" (click)="rerollIndividualBrief('time')">{{briefObj.time}}</span> to do it. <strong>Now get to it.</strong>
        } @else {
            you have to do it <span class="mission-clickable underline" (click)="rerollIndividualBrief('time')"><strong>{{briefObj.time}}</strong></span> <strong> MOVE YOUR ASS, GRVNT!</strong>
        }
    </div>
    <div class="mission-body">
        <div>
            <span class="mission-part-header">
                <h3 class="clickable" (click)="rerollMission()">OBJECTIVES</h3>
                <em>Players may accomplish some or all of these</em>
            </span>
            <ol>
                @for (mission of missionObjectives; track $index) {
                    <li>
                        <strong><span class="mission-clickable" (click)="rerollIndividualMissionPart($index, 'objective')">{{mission.objective}}</span> <span class="mission-clickable" (click)="rerollIndividualMissionPart($index, 'target')">{{mission.target}}</span></strong>
                    </li>
                }
            </ol>
        </div>

        <div>
            <span class="mission-part-header">
                <h3 (click)="rerollTwists()" class="clickable">TWISTS</h3>
                <em>You may use none, one, or a few of theses</em>
            </span>
            <ol>
                @for (twist of twists.descrips; track $index) {
                    <li>
                        <span class="mission-clickable" (click)="rerollIndividualTwist($index)">{{twist}}</span> 
                    </li>
                }
            </ol>
        </div>
    </div>
</div>