<span class="grvnt-card">
    <div (click)="rerollAll()" class="grvnt-header clickable">
        THEY CALL YOU <strong>{{nameObj.name | uppercase}}</strong>.
    </div>
    <div class="grvnt-body">
        <div>
            Your name is forgotten in the mud, dirt, and blood. You are simply <span (click)="rerollName()" class="clickable">{{nameObj.name}}</span>.
        </div>
        <div>
            You joined this hellish war <span (click)="rerollReasons()" class="clickable" [innerHTML]="reasonObj.descrip"></span>.
        </div>
    </div>
</span>