<span class="grvnt-card">
    <div (click)="rerollAll(false)" class="grvnt-header clickable">
        THEY CALL YOU <strong>
            @if (this.isEmbedded) {
                @for (name of embeddedNameObj; track $index) {
                    {{name.part}}
                }
            } @else {
                {{nameObj.name | uppercase}}
            }
        </strong>
    </div>
    <div class="grvnt-body">
        <div>
            Your name is forgotten in the mud, dirt, and blood. You are simply 
            @if (isEmbedded) {
                <span class="embedded-name-layout">
                    @for (name of embeddedNameObj; track $index) {
                        <span (click)="rerollEmbeddedName($index)" class="clickable">{{name.part}}</span>
                    }
                </span>
            } @else {
                <span (click)="rerollName()" class="clickable">"{{nameObj.name}}"</span>
            }.
        </div>
        <div>
            You joined this hellish war <span (click)="rerollReasons()" class="clickable" [innerHTML]="reasonObj.descrip"></span>. The endless fighting has left you with {{nextWordGrammer(scarsObj.descrip)}} <span (click)="rerollScars()" class="clickable" [innerHTML]="scarsObj.descrip"></span>.
        </div>
        <div>
            To deal with the atrocities of wartime, you cope by <span class="clickable" (click)="rerollVices()" [innerHTML]="vicesObj.descrip"></span>.
        </div>
        <div>
            This war has rattled you to the core. Start with <span (click)="getShock(false)" class="clickable">{{shockObj.value}} (d2) <strong>SHOCK</strong></span> and <span [innerHTML]="shockObj.effect"></span>.
        </div>
    </div>
</span>