.grvnt-body {
    line-height: 16*1.3px;
    .clickable {
        font-family: 'BAHNSCHRIFT';
    }
    .embedded-name-layout {
        span:not(:first-of-type) {
            margin-left: 0.2rem;
        }
    }
}