<span class="grvnt-card">
    <div (click)="rerollAll()" class="grvnt-header clickable">
        STATS
    </div>
    <div class="grvnt-body">
        <span class="ability-layout">
            @for (stat of statsArray; track $index) {
                <span class="ability">
                    <div (click)="rerollStat(stat.name, true)" class="ability-name clickable">{{stat.name | uppercase}}</div>
                    <small class="ability-description">
                        {{stat.descrip}}
                        @if (showRolls && stat.rollsArray) {
                            <div>
                                [{{stat.rollsArray}}]
                                @if (stat.statMod) {
                                    {{stat.statMod}}
                                }
                            </div>
                            @if (stat.promoRolls) {
                                <div><strong class="underline">PROMOTION</strong></div>
                                <span [innerHTML]="stat.promoRolls"></span>
                            }
                        }
                    </small>
                    <span class="stat">
                        @if (stat.value === 0) {
                            &#177;
                        }
                        {{stat.value}}
                    </span>
                </span>
            }
        </span>

        <span class="ability-layout">
            @for (vital of vitalsArray; track $index) {
                <span class="ability">
                    <div (click)="rerollVital(vital.name, true)" class="ability-name clickable">{{vital.name | uppercase}}</div>
                    <small class="ability-description">
                        {{vital.descrip}}
                        @if (showRolls && vital.rollsArray) {
                            <div>
                                [{{vital.rollsArray}}
                                    @if (beastHP && vital.name === 'hp') {
                                        + {{beastHP}}
                                    }
                                ]
                            </div>
                            @if (vital.promoRolls) {
                                <div><strong class="underline">PROMOTION</strong></div>
                                <span [innerHTML]="vital.promoRolls"></span>
                            }
                        }
                    </small>
                    <span class="stat">
                        @if (vital.name === 'omens') {
                            {{vital.valueObj?.current}} ({{vital.valueObj?.die}})
                        }
                        {{vital.value}}
                        @if (vital.name === 'silver') {
                            s
                        }
                    </span>
                </span>
            }
        </span>
    </div>
</span>