<span class="grvnt-card">
    <div class="grvnt-header clickable">
        STATS
    </div>
    <div class="grvnt-body">
        <span class="ability-layout">
            <span class="ability">
                <div class="ability-name clickable">TOUGHNESS</div>
                <small class="ability-description">resist shock/gas/cold/heat</small>
                <span class="stat">&#177;0</span>
            </span>
            <span class="ability">
                <div class="ability-name clickable">AGILITY</div>
                <small class="ability-description">
                    defend, sneak, avoid explosions
                </small>
                <span class="stat">&#177;0</span>
            </span>
            <span class="ability">
                <div class="ability-name clickable">PRESENCE</div>
                <small class="ability-description">
                    shoot, perceive, use war scrolls
                </small>
                <span class="stat">&#177;0</span>
            </span>
            <span class="ability">
                <div class="ability-name clickable">STRENGTH</div>
                <small class="ability-description">
                    melee, throw, carry requisitions
                </small>
                <span class="stat">&#177;0</span>
            </span>
        </span>
        <span class="ability-layout">
            <span class="ability">
                <div class="ability-name clickable">HIT POINTS</div>
                <small class="ability-description">
                    0 or -1: downed | -2: <strong class="emphasize">DEATH</strong>
                </small>
                <span class="stat">1</span>
            </span>
            <span class="ability">
                <div class="ability-name clickable">OMENS</div>
                <small class="ability-description">
                    twist cruel fate
                </small>
                <span class="stat">2 (d4)</span>
            </span>
        </span>
    </div>
</span>