<span class="grvnt-card">
    <div class="grvnt-body">
        <span class="ability-layout">
            <span class="ability">
                <div class="ability-name clickable">HIT POINTS</div>
                <small class="ability-description">
                    0 or -1: downed | -2: <strong class="emphasize">DEATH</strong>
                </small>
                <span class="stat">1</span>
            </span>
            <span class="ability">
                <div class="ability-name clickable">OMENS</div>
                <small class="ability-description">
                    twist cruel fate
                </small>
                <span class="stat">2 (d4)</span>
            </span>
        </span>
    </div>
</span>
