<span class="farewell-layout {{currentUI}}" [ngClass]="currentTheme">
    <header>
        <h1>GRVNT RECRUITER</h1>
        <!-- <em>random generators for <strong>FAREWELL TO ARMS: REDUX</strong></em> -->
    </header>

    <section class="body-layout">
        <span class="toolbar">
            <span class="theme-section">
                <div (click)="shuffleTheme()" class="clickable">SHUFFLE THEME:</div>
                <strong>{{getThemeName()}}</strong>
            </span>
            <span class="theme-section no-extra-section">
                <div (click)="toggleRolls()" class="clickable">{{showRolls ? 'HIDE' : 'SHOW'}} ROLLS</div>
            </span>
            <!-- <span class="theme-section">
                <div (click)="shuffleUI()" class="clickable">LAYOUT TEST</div>
                <strong>{{currentUI | uppercase}}</strong>
            </span> -->
        </span>
        <app-grvnt-abilities
            class="stats"
            [job]="jobObj"
            [showRolls]="showRolls"
        >
        </app-grvnt-abilities>
        <app-grvnt-identity class="id"></app-grvnt-identity>
        <app-grvnt-class
            class="job"
            [job]="jobObj"
            (newJobEmitter)="getNewJob()"
        ></app-grvnt-class>
    </section>
</span>