<span class="farewell-layout" [ngClass]="currentTheme">
    <header>
        <h1>GRVNT RECRUITER</h1>
        <!-- <em>random generators for <strong>FAREWELL TO ARMS: REDUX</strong></em> -->
    </header>

    <section class="body-layout">
        <span class="toolbar">
            <span class="theme-section">
                <div (click)="shuffleTheme()" class="clickable">SHUFFLE THEME:</div>
                <strong>{{getThemeName()}}</strong>
            </span>
        </span>
        <app-grvnt-abilities></app-grvnt-abilities>
        <app-grvnt-identity></app-grvnt-identity>
    </section>
</span>