<span class="page-layout">
    <span 
        class="farewell-layout {{sectionToShow}} {{currentTheme}}"
    >
        @if (sectionToShow === 'grvnts') {
            <header>
                <h1>GRVNT RECRUITER</h1>
                <span class="reroll-all">
                    <div (click)="rerollAll()" class="clickable"><strong>A NEW GRVNT FOR THE FRONT</strong></div>
                </span>
            </header>
        
            <section class="body-layout">
                <span class="toolbar">
                    <span class="flex-row">
                        <span class="theme-section">
                            <div (click)="shuffleTheme()" class="clickable">THEME:</div>
                            <strong>{{getThemeName()}}</strong>
                        </span>
                        <span class="theme-section no-extra-section">
                            <div (click)="print()" class="clickable">PRINT</div>
                        </span>
                    </span>

                    <span class="flex-row">
                        <span class="theme-section no-extra-section">
                            <div [ngClass]="{
                                'clickable': numPromotions !== 1,
                                'warlord': numPromotions === 1
                            }" 
                            (click)="promoteGrvnt()">{{numPromotions === 1 ? 'WARLORD': 'PROMOTE'}}</div>
                        </span>
                        <span class="theme-section no-extra-section">
                            <div (click)="toggleRolls()" class="clickable">{{showRolls ? 'HIDE' : 'SHOW'}} ROLLS</div>
                        </span>
                    </span>
                </span>
                <app-grvnt-abilities
                    class="stats"
                    [abilitiesObj]="abilitiesObj"
                    [job]="jobObj"
                    [showRolls]="showRolls"
                    [beastHP]="beastHP"
                    [promoteGrvnt]="rollPromotion"
                    [clearPromos]="clearPromo"
                    (presence)="getPresence($event)"
                    (abilityObjEmitter)="updateAbilitiesObj($event)"
                >
                </app-grvnt-abilities>
                <app-grvnt-identity
                    class="id"
                    [identityObj]="identityObj"
                    [isEmbedded]="isEmbedded"
                    [shuffleAll]="getNewAll"
                    (identityObjectEmitter)="updateIdentityObj($event)"
                >
                </app-grvnt-identity>
                <app-grvnt-class
                    class="job"
                    [classObj]="classObj"
                    [job]="jobObj"
                    (classObjectEmitter)="updateClassObj($event)"
                    (newJobEmitter)="getNewJob()"
                    (newBeast)="addBeastHP($event)"
                ></app-grvnt-class>
                <app-grvnt-shit
                    class="shit"
                    [shitObj]="shitObj"
                    [shuffleAll]="getNewAll"
                    [presenceMod]="presenceNum"
                    [job]="jobObj"
                    [promoEquip]="promoEquipObj"
                    [clearPromos]="clearPromo"
                    (shitObjectEmitter)="updateShitObj($event)"
                ></app-grvnt-shit>
            </section>
        } @else if (sectionToShow === 'missions') {
            <header>
                <h1>MISSION GENERATOR</h1>
                <span class="reroll-all">
                    <div (click)="rerollAllMission()" class="clickable"><strong>NEW ORDERS INCOMING</strong></div>
                </span>
            </header>
            <section class="body-layout">
                <span class="toolbar">
                    <span class="flex-row">
                        <span class="theme-section">
                            <div (click)="shuffleTheme()" class="clickable">THEME:</div>
                            <strong>{{getThemeName()}}</strong>
                        </span>
                        <span class="theme-section no-extra-section">
                            <div (click)="print()" class="clickable">PRINT</div>
                        </span>
                    </span>
                </span>
                <app-mission-brief
                    [getNewMission]="getNewMission"
                    [briefSaveObj]="missionBriefSaveObj"
                    (briefSaveObjEmitter)="updateMissionBriefObj($event)"
                    class="brief">
                </app-mission-brief>
                <app-mission-advance
                    [squadSaveObj]="squadObj"
                    [leaderAndAttachmentsArray]="leaderAndAttachmentsArray"
                    [machineArray]="machineSaveArray"
                    [enemySize]="squadSize"
                    [situationSaveObj]="missionAdvanceSaveObj"
                    [getNewMission]="getNewMission"
                    (leaderSaveObjEmitter)="updateLeaderObj($event)"
                    (situationSaveObjEmitter)="updateSituationObj($event)"
                    (squadSaveObjEmitter)="updateSquadObj($event)"
                    (machineSaveObjEmitter)="updateMachineObj($event)"
                    class="advance">
                </app-mission-advance>
                <app-mission-rewards
                    class="rewards"
                    [rewardsSaveObj]="rewardsSaveObj"
                    (rewardsSaveObjEmitter)="updateRewards($event)"
                >
                </app-mission-rewards>
            </section>
        } @else if (sectionToShow === 'squads') {
            <header>
                <h1>SQUAD MAKER</h1>
                <span class="reroll-all">
                    <div (click)="rerollAllSquad()" class="clickable"><strong>A NEW SQUAD MARCHES ON</strong></div>
                </span>
            </header>
            <section class="body-layout">
                <span class="toolbar">
                    <span class="flex-row">
                        <span class="theme-section">
                            <div (click)="shuffleTheme()" class="clickable">THEME:</div>
                            <strong>{{getThemeName()}}</strong>
                        </span>
                        <span class="theme-section no-extra-section">
                            <div (click)="print()" class="clickable">PRINT</div>
                        </span>
                    </span>
                </span>
                <div class="squad-size-section">
                    <strong (click)="rerollSquadSize()" class="subtle-clickable squad-detail-button">SQUAD DETAILS:</strong>
                    <span> {{squadSize | uppercase}}</span>
                </div>
                <app-squad-maker
                    [squadSaveObj]="squadObj"
                    [leaderAndAttachmentsArray]="leaderAndAttachmentsArray"
                    [machineArray]="machineSaveArray"
                    [enemySize]="squadSize"
                    [rerollGrvnt]="getNewSquad"
                    (squadSaveObjEmitter)="updateSquadObj($event)"
                    (leaderSaveObjEmitter)="updateLeaderObj($event)"
                    (machineSaveObjEmitter)="updateMachineObj($event)"
                ></app-squad-maker>
            </section>
        } @else if (sectionToShow === 'rules') {
            <header>
                <h1>RULES REFERENCE</h1>
            </header>
            <section class="body-layout">
                <span class="toolbar">
                    <span class="flex-row">
                        <span class="theme-section">
                            <div (click)="shuffleTheme()" class="clickable">THEME:</div>
                            <strong>{{getThemeName()}}</strong>
                        </span>
                    </span>
                    <span class="flex-row">
                        <span class="theme-section no-extra-section">
                            <div (click)="toggleGas()" class="clickable">{{showGas ? 'HIDE' : 'SHOW'}} GAS</div>
                        </span>
                        <span class="theme-section no-extra-section">
                            <div (click)="toggleShock()" class="clickable">{{showShock ? 'HIDE' : 'SHOW'}} SHOCK</div>
                        </span>
                    </span>
                </span>
                @if (showGas) {
                    <app-gas-reference></app-gas-reference>
                }
                @if (showShock) {
                    <app-shock-reference></app-shock-reference>
                }
                <app-rules-reference></app-rules-reference>
            </section>
        }
        <footer>
            <div>
                Farewell to Arms REDUX is an independent production by rivethead games and is not affiliated with Ockult
                Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
            </div>
            <div>MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.</div>
            <div>Farewell to Arms REDUX is copyright 2023 rivethead games. Web app by codeLiches</div>
            <div><em>v0.8: Squad Shuffle</em></div>
        </footer>
    </span>

    <nav>
        <div [ngClass]="{'active': sectionToShow === 'grvnts'}" (click)="displaySection('grvnts')" class="clickable">GRVNTS</div>
        <div [ngClass]="{'active': sectionToShow === 'squads'}" (click)="displaySection('squads')" class="clickable">SQUADS</div>
        <div [ngClass]="{'active': sectionToShow === 'missions'}" (click)="displaySection('missions')" class="clickable">MISSIONS</div>
        <div [ngClass]="{'active': sectionToShow === 'rules'}" (click)="displaySection('rules')" class="clickable">RULES</div>
    </nav>
</span>