header {
    .reroll-all {
        .clickable {
            font-family: "DIRTBAG";
        }
    }
}

.social-link {
    text-decoration: none;
    background-color: var(--header-background-color);
    color: var(--header-color);
    font-weight: bold;
    &:hover {
        background-color: var(--hover-background);
        color: var(--hover-color);
    }
}

.toolbar {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    .theme-section {
        display: flex;
        gap: 0.188rem;
        border: 0.063rem solid var(--border-color);
        border-right: 0.125rem solid var(--border-color);
        width: max-content;
        padding-right: 0.188rem;
        &.no-extra-section {
            padding-right: 0rem;
            div.clickable {
                padding-top: 0.2rem;
            }       
            div.warlord {
                padding-top: 0.2rem;
                background-color: var(--background-color);
                color: var(--border-color);
                font-family: 'DIRTBAG';
                border-color: var(--background-color);
            }     
        }
        strong {
            font-family: 'BAHNSCHRIFT';
        }
    }
    .clickable {
        font-family: "DIRTBAG";
    }
}

.squad-size-section {
    border-top: 2px solid var(--border-color);
    padding: 0.3rem 0 0 0.5rem;
    .squad-detail-button {
        font-size: 1.3rem;
        font-family: 'DIRTBAG';
    }
    span {
        font-family: 'BAHNSCHRIFT';
    }
}

@media only screen and (min-width: 768px) {
    .squad-size-section {
        padding: 0.3rem 0 0 0;
    }
    .toolbar {
        font-size: 0.875rem;
    }
}