.toolbar {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    .theme-section {
        display: flex;
        gap: 0.188rem;
        border: 0.063rem solid var(--border-color);
        border-right: 0.125rem solid var(--border-color);
        width: max-content;
        padding-right: 0.188rem;
        &.no-extra-section {
            padding-right: 0rem;
            div.clickable {
                padding-top: 0.2rem;
            }            
        }
        strong {
            font-family: 'BAHNSCHRIFT';
        }
    }
    .clickable {
        font-family: "DIRTBAG";
    }
}

@media only screen and (min-width: 768px) {
    .toolbar {
        font-size: 0.875rem;
    }
}