<div [ngClass]="{'no-attachments': attachmentsNum === 0}" class="leader-squad-layout">
    <app-leader-maker
        [rerollGrvnt]="rerollGrvnt"
        [leaderSaveObj]="leaderAndAttachmentsArray[0]"
        (leaderSaveObjEmitter)="emitLeaderSaveObj($event, 0)"
    >
    </app-leader-maker>
    
    <div class="squad-layout">
        <strong class="underline">ENEMY SQUAD:</strong> "<strong (click)="getInitialSquad(squadObj.size)" class="clickable">{{squadMakeup.name[0]}}</strong>"
        <div class="flex-row">
            <span><strong>GRVNTS</strong> <span> {{squadObj.size}}</span></span>
            <span><strong class="subtle-clickable" (click)="rerollMorale()">MORALE</strong> <span> {{morale}}</span></span>
        </div>
        <div class="flex-column">
            <em class="small-font underline">{{squadObj.firearm.isScroll ? 'Warscroll' : 'Firearm'}}</em>
            <span (click)="rerollSquadFirearms()" [innerHTML]="squadObj.firearm.descrip"></span>
        </div>
        <div class="flex-column">
            <em class="small-font underline">{{squadObj.sidearm.isScroll ? 'Warscroll' : 'Sidearm'}}</em>
            <span (click)="rerollSquadSidearms()" [innerHTML]="squadObj.sidearm.descrip"></span>
        </div>
        <div class="flex-column">
            <em class="small-font underline">Armor</em>
            <span (click)="rerollArmor()" [innerHTML]="armor"></span>
            @if (this.hasHelmet) {
                <div>
                    <strong class="underline">Helmet.</strong> break to prevent all damage from a <strong>single attack</strong>
                </div>
            }
        </div>
        <div class="flex-column">
            <em class="small-font underline">Special</em>
            <span (click)="rerollSpecial()" [innerHTML]="squadObj.special"></span>
        </div>
    </div>
</div>

<div [ngClass]="{'no-print': attachmentsNum === 0}" class="attachments-layout">
    <div class="attachments-title">
        <strong (click)="rerollAllAttachments()" class="underline subtle-clickable">ATTACHMENTS:</strong>
        <em> grvnts and machines attached to the squad, but acting independently</em>
    </div>
    @if (attachmentsNum > 0) {
        @for (item of [].constructor(attachmentsNum); track $index) {
            <div [ngClass]="{'single-attachment': attachmentsNum === 1}" class="attachment-item">
                <app-leader-maker
                    [rerollGrvnt]="rerollGrvnt"
                    [rerollAttachments]="rerollAttachmentsBool"
                    [title]="'GRVNT'"
                    [leaderSaveObj]="leaderAndAttachmentsArray[$index + 1]"
                    (leaderSaveObjEmitter)="emitLeaderSaveObj($event, $index+1)"
                ></app-leader-maker>
            </div>
        }
    
        @if (machineNum > 0) {
            <div class="machine-attachment-layout">
                @for (item of [].constructor(machineNum); track $index) {
                    <div class="machine-attachment-item">
                        <app-machine-maker
                            [getNewMachines]="rerollGrvnt"
                            [rerollAttachments]="rerollAttachmentsBool"
                            [machineSaveObj]="machineArray[$index]"
                            (machineSaveObjEmitter)="saveMachineObjEmitted($event, $index)"
                        >
                        </app-machine-maker>
                    </div>
                }
            </div>
        }
    } @else {
        <em>No attachments.</em>
    }

</div>