<span class="grvnt-card">
    <div class="grvnt-header clickable">
        GRIZZELED VETERAN
    </div>
    <div class="grvnt-body">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Interdum lectus dignissim dapibus blandit erat lacinia est. Augue est blandit; tincidunt cras vulputate nulla. Ornare integer class augue consectetur gravida proin semper. Donec scelerisque orci proin; sollicitudin orci molestie. Curae egestas elit fames primis nostra adipiscing in platea quisque. Suscipit arcu senectus purus pellentesque quis vitae. Porttitor laoreet finibus imperdiet felis ridiculus bibendum at non. Tincidunt interdum purus interdum phasellus magna est hac accumsan ex. Mauris dis ipsum aenean mauris consectetur senectus tristique molestie nisl.
    </div>
</span>
