.skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .embedded {
        border: 1px solid var(--body-color);
        .embedded-label {
            background-color: var(--body-color);
            color: var(--background-color);
        }
    }
}