<span class="grvnt-card">
    <div (click)="getNewJob()" class="grvnt-header clickable">
        {{job.name | uppercase}}
    </div>
    <div class="grvnt-body">
        <div
            class="job-descrip"
            [innerHTML]="job.descrip"
        >
        </div>
        @for (extra of job.extras; track $index) {
            <div [innerHTML]="extra"></div>
        }
        <div class="skills">
            @for (skill of skillObj; track $index) {
                <div [ngClass]="job.name === 'embedded one' && $index === 1 ? 'embedded': ''" class="skill-section">
                    @if (skill.descrip) {
                        @if (job.name === 'embedded one' && $index === 1) {
                            <div class="embedded-label">
                                <strong [innerHTML]="skill.descrip"></strong>
                            </div>
                        } @else {
                            <strong [innerHTML]="skill.descrip" (click)="rerollSkill($index)" class="clickable"></strong>
                        }
                        <span [innerHTML]="skill.data"></span>
                    } @else {
                        <span (click)="rerollSkill($index)" [innerHTML]="skill.data"></span>
                    }
                </div>
            }
        </div>
    </div>
</span>
