<span class="grvnt-card">
    <div (click)="getNewJob()" class="grvnt-header clickable">
        {{job.name | uppercase}}
    </div>
    <div class="grvnt-body">
        <div [ngClass]="job.name === 'radiant bannerman' ? 'center-text': ''"
            class="job-descrip"
            [innerHTML]="job.descrip"
        >
        </div>
        @for (extra of job.extras; track $index) {
            <div [innerHTML]="extra"></div>
        }
        <div class="skills">
            @if (job.name === 'new world engineer' || job.name === 'sadistic soldier') {
                <div class="skill-section skill-table">
                    <div class="skill-label">
                        <span [innerHTML]="job.skills[0].descrip"></span>
                    </div>
                    <span>
                        <ol class="compact-list">
                            @for (building of job.skills[0].table; track $index) {
                                <li>
                                    <span [innerHtml]="building"></span>
                                </li>
                            }
                        </ol>
                    </span>
                    @if (job.name === 'sadistic soldier') {
                        <div class="skill-label">
                            <small>Drop <strong>undesired</strong> collectables whenever you rest. <strong>You can NEVER be Promoted</strong>.</small>
                        </div>
                    }
                </div>

            } @else if (job.name === 'despondent interpreter') {
                <div class="skill-section skill-table">
                    <div class="skill-label">
                        <span [innerHTML]="job.skills[1].descrip"></span>
                    </div>
                    <span>
                        <ol class="compact-list">
                            @for (record of job.skills[1].table; track $index) {
                                <li><span [innerHTML]="record"></span></li>
                            }
                        </ol>
                    </span>
                </div>
                <div class="skill-section skill-table">
                    <div class="skill-label">
                        <span [innerHTML]="job.skills[2].descrip"></span>
                    </div>
                    <span>
                        <ol class="compact-list">
                            @for (bonus of job.skills[2].table; track $index) {
                                <li><span [innerHTML]="bonus"></span></li>
                            }
                        </ol>
                    </span>
                </div>
            }
            @for (skill of skillObj; track $index) {
                <div [ngClass]="job.name === 'embedded one' && $index === 1 ? 'embedded': ''" class="skill-section">
                    @if (skill.descrip) {
                        @if (job.name === 'embedded one' && $index === 1) {
                            <div class="embedded-label">
                                <strong [innerHTML]="skill.descrip"></strong>
                            </div>
                        } @else {
                            <strong [innerHTML]="skill.descrip" (click)="rerollSkill($index)" class="clickable"></strong>
                        }
                        <span [innerHTML]="skill.data"></span>
                    } @else {
                        <span (click)="rerollSkill($index)" [innerHTML]="skill.data"></span>
                    }
                </div>
            }
            
        </div>
    </div>
</span>
