
h2 {
    font-family: 'DIRTBAG';
}

.mission-card {
    padding-bottom: 0.5rem;
}

.mission-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
}

.location .advance-details {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.advance-layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0.5rem 0.5rem 0;
    border: 1px solid var(--border-color);
    &.enemy {
        span {
            font-family: 'BAHNSCHRIFT';
        }
    }
    .advance-details {
        margin-left: 1rem;
    }
}
