:root {
    --fta-blue: #40BFBF;
    --chromatic-black: #010203;
    --off-white: #FAF9F6;
    --pink: #FF3EB5;
    --yellow: #FFE900;
    --red: red;

    --background-color: var(--chromatic-black);
    --body-color: var(--off-white);
    --main-header-left-color: var(--fta-blue);
    --main-header-right-color: var(--off-white);

    --header-background-color: var(--fta-blue);
    --header-color: var(--chromatic-black);

    --hover-background: var(--pink);
    --hover-color: var(--off-white);

    --border-color: var(--fta-blue);
    --border-width: 0.125rem;
    --selection-background-color: var(--fta-blue);
    --selection-color: var(--chromatic-black);
}

.charge {
    --background-color: var(--fta-blue);
    --body-color: var(--chromatic-black);
    --main-header-left-color: var(--chromatic-black);
    --main-header-right-color: black;

    --header-background-color: var(--chromatic-black);
    --header-color: var(--fta-blue);
    --border-color: var(--chromatic-black);
    --selection-background-color: var(--chromatic-black);
    --selection-color: var(--fta-blue);
}

.bone {
    --background-color: var(--off-white);
    --body-color: var(--chromatic-black);
    --main-header-left-color: var(--red);
    --main-header-right-color: var(--chromatic-black);

    --header-background-color: var(--red);
    --border-color: var(--red);

    --hover-background: var(--fta-blue);
    --hover-color: var(--chromatic-black);
    --selection-background-color: var(--red);
    --selection-color: var(--chromatic-black);
}

.mork {
    --background-color: #FFE900;
    --body-color: var(--chromatic-black);
    --main-header-left-color: var(--chromatic-black);
    --main-header-right-color: var(--chromatic-black);

    --header-background-color: var(--chromatic-black);
    --header-color: var(--off-white);
    --border-color: var(--chromatic-black);
    --selection-background-color: var(--chromatic-black);
    --selection-color: var(--yellow);
}

.gum {
    --background-color: var(--pink);
    --body-color: var(--chromatic-black);

    --header-background-color: var(--off-white);
    --header-color: var(--chromatic-black);
    --border-color: var(--off-white);

    --hover-background: var(--yellow);
    --hover-color: var(--chromatic-black);

    --main-header-left-color: var(--fta-blue);
    --main-header-right-color: var(--off-white);
    --selection-background-color: var(--yellow);
    --selection-color: var(--chromatic-black);
}

.vet {
    --background-color: var(--off-white);
    --body-color: var(--chromatic-black);

    --header-background-color: var(--pink);
    --header-color: var(--chromatic-black);
    --border-color: var(--pink);

    --hover-background: var(--chromatic-black);
    --hover-color: var(--pink);

    --main-header-left-color: var(--pink);
    --main-header-right-color: var(--red);
    --selection-background-color: var(--pink);
    --selection-color: var(--off-white);
}

.sapper {
    --background-color: var(--off-white);
    --body-color: var(--chromatic-black);

    --main-header-left-color: var(--yellow);
    --main-header-right-color: var(--red);

    --header-background-color: var(--chromatic-black);
    --header-color: var(--yellow);
    --border-color: var(--chromatic-black);

    --hover-background: var(--yellow);
    --hover-color: var(--chromatic-black);
    --selection-background-color: var(--yellow);
    --selection-color: var(--chromatic-black);
}

.marks {
    --background-color: var(--red);
    --body-color: var(--off-white);

    --main-header-left-color: var(--off-white);
    --main-header-right-color: var(--off-white);

    --header-background-color: var(--off-white);
    --header-color: var(--chromatic-black);
    --border-color: var(--off-white);

    --hover-background: var(--chromatic-black);
    --hover-color: var(--red);
    --selection-background-color: var(--off-white);
    --selection-color: var(--chromatic-black);
}

//main display fonts
@font-face {
    font-family: "DIRTBAG";
    src: local("DIRTBAG"), url(./app/assets/fonts/DIRTBAG.OTF) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "BAALREGULAR";
    src: local("BAALREGULAR"), url(./app/assets/fonts/BAALREGULAR.OTF) format('opentype');
    font-weight: 100 1000;
}

//body fonts
@font-face {
    font-family: "BAHNSCHRIFT";
    src: local("BAHNSCHRIFT"), url(./app/assets/fonts/BAHNSCHRIFT.TTF) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "ALEGREYA";
    src: local("ALEGREYA"), url(./app/assets/fonts/ALEGREYA.ttf) format('truetype');
    font-weight: 100 1000;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--body-color);
    font-family: 'ALEGREYA';
    font-size: 1rem;
}

::selection {
    background: var(--selection-background-color);
    color: var(--selection-color);
}

.emphasize {
    font-family: "BAALREGULAR";
    letter-spacing: 5px;
}

.underline {
    text-decoration: underline;
}

.left-indent {
    padding-left: 1rem;
}

.embedded-padding {
    padding: 0.5rem;
}

.clickable {
    cursor: pointer;
    user-select: none;
    background-color: var(--header-background-color);
    color: var(--header-color);
    width: max-content;
    .emphasize {
        text-decoration: underline;
    }
    &:hover {
        font-weight: bold;
        transform: scale(1.1) rotate(2deg) !important;
        background-color: var(--hover-background) !important;
        color: var(--hover-color);
        transition: all .05s ease-in-out !important;
    }
    &:active {
        font-weight: unset;
        transform: scale(1) !important;
    }
}

.farewell-layout {
    background-color: var(--background-color);
    width: 100%;
    @include flex-column(0.5rem);
    header {
        @include flex-column;
        align-items: center;
        text-align: center;
        h1 {
            margin: 0;            
            font-family: 'DIRTBAG';
            background: linear-gradient(to right, var(--main-header-left-color), var(--main-header-right-color));
            background-clip: text;
            color: transparent;
            padding: 0.5rem 0;
            letter-spacing: 0.5rem;
            font-size: 2rem;
            width: 100%;
        }
        em {
            font-size: 0.8rem;
        }
    }

    .body-layout {
        @include flex-column;
        *:nth-child(even) {
            .grvnt-header.clickable {
                &:hover  {
                    transform: scale(1.1) rotate(-2deg) !important;
                }
                &:active {
                    font-weight: unset;
                    transform: scale(1) !important;
                }
            }
        }
    }
}

.grvnt-card {
    height: 100%;
    @include flex-column;
    border-bottom: var(--border-width) solid var(--border-color);

    &:first-of-type {
        border-top: var(--border-width) solid var(--border-color);
    }
    padding: 0 1rem 0.5rem 1rem;
    .grvnt-header {
        text-align: center;
        place-self: center;
        font-weight: bold;
        font-family: 'DIRTBAG';
        font-size: 1.1rem;
        max-width: max-content;
        strong {
            text-decoration: underline;
        }
        &.clickable {
            width: auto;
            text-align: center;
        }
    }
    .grvnt-body {
        margin-top: 0.5rem;
        height: 100%;
        @include flex-column(0.5rem);
    }
}

.skills {
    .skill-section {
        .clickable {
            font-family: 'BAHNSCHRIFT';
        }
        span>ol {
            margin: .5rem 0 0;
            padding-left: 1rem;
            &.compact-list {
                columns: 2;
                font-size: .8rem;
                list-style-position: inside;
            }
        }
    }
}

@media only screen and (min-width: 375px) {
    .farewell-layout {
        header {
            h1 {
                font-size: 3rem;
            }
        }
    }
    .grvnt-card {
        .grvnt-header {
            font-size: 1.4rem;
        }
    }
}

//TABLET
@media only screen and (min-width: 768px) {
    .farewell-layout {
        header {
            h1 {
                letter-spacing: 2rem;
                font-size: 5rem;
            }
        }
    }
    .grvnt-card {
        .grvnt-header {
            font-size: 1.8rem;
        }
    }
}

// small laptop
@media only screen and (min-width: 1024px) {
    .farewell-layout {
        max-width: 90%;
        margin: auto;
        .body-layout {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            grid-template-areas: 
                "toolbar    toolbar"
                "stats      stats"
                "id         job";
            .toolbar {
                grid-area: toolbar;
            }
            .stats {
                grid-area: stats;
            }
            .id {
                grid-area: id;
                .grvnt-card {
                    border-right: var(--border-width) solid var(--border-color);
                }
            }
            .job {
                grid-area: job;
                .grvnt-card {
                    border-left: var(--border-width) solid var(--border-color);
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .farewell-layout {
        max-width: 56.25rem;
        margin: auto;
    }
}
